@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

body {
  font-family: 'Roboto', sans-serif;  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  background: #1E1E1E;
  color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
